<div class="products"
  fxLayout="column">
  <h2 class="products__title"
    fxLayoutAlign="center">
    {{ title }}
  </h2>
  <div class="products__list"
    fxLayout="row wrap"
    fxLayoutWrap
    fxLayoutAlign="space-around">
    <mat-card class="products__list__item"
      *ngFor="let product of products">
      <img class="products__list__item__image"
        mat-card-image
        [src]="product.imageUrl"
        fxLayout="column"
        fxLayoutAlign="center">
      <mat-card-title class="products__list__item__name"
        fxLayoutAlign="center">
        {{ product.name }}
      </mat-card-title>
      <mat-card-actions
        class="products__list__item__actions"
        fxLayout="row"
        fxLayoutAlign="center">
        <button
          class="products__list__item__actions__add-to-cart"
          mat-raised-button
          color="accent"
          fxLayoutAlign="center">
          Add To Cart
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
