@import "../../../../../app-variables";

$product-name-font: $roboto-regular-font !default;
$product-title-font: $roboto-regular-font !default;

.products {
  margin-top: 10px;

  &__title {
    font: 20px $product-title-font;
    margin: 0;
  }

  &__list {

    @media screen and (min-width: 960px) {
      max-width: 75%;
      margin: auto;
    }

    @media screen and (min-width: 1280px) {
      max-width: 60%;
      margin: auto;
    }

    &__item {
      margin-top: 10px;

      &__image {
        width: 186px;
        height: 240px;
      }

      &__name {
        font: 14px $product-name-font;
      }

      &__actions {

        &__add-to-cart {
          padding: 0 10px;
        }
      }
    }
  }
}
