<StackLayout class="navbar">
  <ActionBar
    class="navbar__action-bar"
    [title]="title"
    (loaded)="onActionBarLoaded()">
    <NavigationButton
      *ngIf="canGoBack"
      text="Back"
      android.systemIcon="ic_menu_back"
      (tap)="onGoBack()">
    </NavigationButton>
    <FlexboxLayout
      flexDirection="row"
      justifyContent="center"
      alignItems="center">
      <Image
        src="res://logo_transparent"
        class="navbar__logo">
      </Image>
    </FlexboxLayout>
    <ng-container
      *ngIf="hasMenu">
      <NavigationButton
        class="navbar__hamburger"
        icon="res://menu"
        *ifAndroid
        (tap)="toggleDrawer()">
      </NavigationButton>
      <ActionItem
        class="navbar__hamburger"
        *ifIos
        ios.position="left"
        (tap)="toggleDrawer()">
        <Label text="&#xf0c9;"></Label>
      </ActionItem>
    </ng-container>
    <ActionItem
      ios.position="right"
      android.position="actionBar">
      <Label
        class="fa navbar__cart"
        text="&#xf07a;">
      </Label>
    </ActionItem>
  </ActionBar>
</StackLayout>
