@import "../../../../app-variables.tns";

$action-bar-background-color: $peach-puff-color !default;
$action-bar-hamburger-font: $fontawesome-font !default;
$cart-font-family: $fontawesome-font !default;

.navbar {

  &__action-bar {
    background-color: $action-bar-background-color;
  }

  &__hamburger {
    font-family: $action-bar-hamburger-font;
  }

  &__cart {
    color: #000000;
    font-size: 30;
    font-family: $cart-font-family;
  }

  &__logo {
    width: 60;
    height: 60;
  }
}
