<StackLayout class="search-criteria">
  <FlexboxLayout
    flexDirection="row"
    justifyContent="space-between"
    (tap)="toggleFilterContainer()"
    class="search-criteria__filter-container">
    <Label
      text="Filters"
      class="search-criteria__filter-container__title">
    </Label>
    <Label
      [text]="expandFilter ? '&#xf077;': '&#xf078;'"
      class="search-criteria__filter-container__arrow">
    </Label>
  </FlexboxLayout>
  <yc-filters
    *ngIf="expandFilter">
  </yc-filters>
</StackLayout>
