 @import '~nativescript-theme-core/scss/light';

$accent-color: #ff4081;
$black-color: #000000;
$logo-color: #ff425e;
$light-gray-color: #a9abb3;
$peach-puff-color: #ffdab9;
$white-color: #ffffff;

$fontawesome-font: 'Font-Awesome', 'FontAwesome';
$roboto-regular-font: 'Roboto';
